.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  min-width: 300px;
}
